<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="">
  <meta name="author" content="">


  <title>Vacature {{Restaurantmanager}} Garuda - By Ron Gastrobar Indonesia</title>

  <link rel="stylesheet" href="https://use.typekit.net/wrj0mmu.css">
  <link rel="stylesheet" href="./scss/index.scss" />

</head>

<body>

  <div class="site-wrap">

    <!-- <div class="hero" data-animate="hero">
      <div class="hero__top">
        <div class="container">
          <div class="grid">
            <div class="col-xs-12 offset-l-1 col-l-10 align-xs-center"> 
              <span class="logo">
                <img src="./img/logo-garuda.svg" />
              </span>
              <h1 class="hero__heading">Where NYC</h1>
              <p class="hero__subline">Meets naples</p>
              <p class="hero__opening">Opening soon</p>
              
            </div>
          </div>
        </div>
         <img class="hero__down" src="./img/ico-down.svg" />
      </div>
    </div> -->

    <!-- <a id="start"></a> -->
    
    <section class="section section--nospacing about"  data-animate="about" >
      <div class="container">
        <div class="grid">
          <div class="col-xs-12 col-s-10">
            <div class="about__heading">
              <span class="section__meta">The Job</span>
              <h2 class="section__heading">{{Restaurant}}<span>{{manager}}</span></h2>
              <p>
                De restaurantmanager stuurt de medewerkers bediening operationeel aan. Hij/zij is
                verantwoordelijk voor de kwaliteit, resultaat en continuïteit van de service en gastvrijheid van het
                restaurant. Daarnaast voor het plannen, regelen, en bijsturen van de medewerkers in de
                werkuitvoering en voorziet in het operationele personeelsbeheer (verzuim, functioneren, werving
                en selectie). De restaurantmanager werkt mee in de bedieningsuitvoering. Dit gebeurt minimaal 3
                avonden in de week, waarvan minimaal 1 avond op vrijdag en/of zaterdag.
              </p>

          </div>
          </div>
        </div>
        <div class="grid">
          <div class="col-xs-12 col-l-8 order-xs-1 order-l-2"> 
        
						<h2>Personeelsbeheer</h2>
						<ul>
							<li>Zorgdragen voor het (laten) opleiden/inwerken van medewerkers;</li>
							<li>Inplannen, accorderen en goedkeuren van verlof op basis van de forecasting;</li>
							<li>Opstellen van werkroosters en de dagelijkse controle hierop;</li>
							<li>Mede selecteren van nieuwe medewerkers; opstellen van werkroosters, regelen van
							voldoende bezetting;</li>
							<li>Uitvoeren van voortgangsgesprekken;</li>
							<li>Een team creëren dat 7 dagen per week een 9 kan scoren.</li>
						</ul>
						
						<h2>Bediening en begeleiding gasten in het restaurant</h2>

						<ul>
							<li>Toewijzen van werkzaamheden, geven van aanwijzingen/instructies;</li>
							<li>Toezien op de voortgang en uitvoeringskwaliteit van de werkzaamheden;</li>
							beschikbaarheid menukaarten, opvangen en afhandelen van vragen/klachten van
							gasten;</li>
							<li>Afstemmen van werkzaamheden met de keuken of andere restaurants;</li>
							<li>Zelf meewerken in de uitvoering (opnemen van bestellingen, serveren van wijnen en
							gerechten, bewerken gerechten aan tafel, opmaken van de rekening en afrekenen met
							gasten, e.d.);</li>
							<li>Werken aan de hand van beschikbare informatie van Formitable. Voor
							groepsreserveringen werken volgens de instructies op de werkbrieven van Magic;</li>
							<li>Toezien op de naleving van de voorschriften op het gebied van de 12 stappen,
							veiligheid, Arbo, HACCP en SOP’s;</li>
							<li>Verzorgen van de financiële en administratieve afhandeling van in- en verkopen.</li>
						</ul>

						<h2>Voorstellen voor verbetering werkprocessen</h2>

						<ul>
							<li>Op basis van het meewerken en suggesties van gasten voorstellen doen aan de leidinggevende betreffende verbeteringen/ veranderingen.</li>
						</ul>

						<h2>Overleg</h2>

						<ul>
							<li>Wekelijks overleg met bedrijfsleider en (sous)chef over voortgang. </li>
						</ul>

          </div>
          <div class="col-xs-12 col-l-3 offset-l-1 align-xs-end order-xs-2 order-l-3">
            <!-- <img class="a-visual-2" src="./img/about-2.jpg" />
						<img class="a-visual-1" src="./img/about-1.jpg" /> -->
          </div>
        </div>
      </div>
    </section>


 
    <section class="section" data-animate="text">
      <div class="container">
        <div class="grid">
          <div class="col-xs-12 offset-l-2 col-l-8 align-xs-center"> 

            <div>
              <h2 class="section__heading">Apply today <br/> <span>for this job</span></h2>
              <p class="section__text">
                Geïnteresseerd om onze {{Restaurantmanager}} te worden? Neem dan direct contact op via ons Whatsapp nummer.
              </p>
          
              <a href="https://wa.me/31618248665" class="button">+31618248665</a>
            
             
            </div>

            <address class="address">
              <span>SPAZIO  |  American Italian</span>
              <span>Malpensabaan 3</span>
              <span>3045 AL</span>
              <span>Rotterdam</span>
            </address>

      

          </div><!-- col -->
        </div><!-- grid -->
      </div><!-- container-->
    </section>
    
    



  <div class="btm-visuals">
      <div>
        <img src="./img/btm-visual-1.jpg" />
      </div>
      <div>
        <img src="./img/btm-visual-2.jpg" />
      </div>
      <div>
        <img src="./img/btm-visual-3.jpg" />
      </div>
      <div>
        <img src="./img/btm-visual-4.jpg" />
      </div>
      <div>
        <img src="./img/btm-visual-5.jpg" />
      </div>
  </div><!-- visuals -->


    <section class="section" data-animate="text">
      <div class="container">
        <div class="grid">
          <div class="col-xs-12 offset-l-2 col-l-8 align-xs-center"> 

            <div>
              <h2 class="section__heading">Interested in <br/> <span>another job?</span></h2>
              <p class="section__text">
                Bekijk de overige vacatures op de homepagina
              </p>
          
              <a href="/#vacatures" class="button">Bekijk de andere vacatures</a>
            
             
            </div>

            <address class="address">
              <span>SPAZIO  |  American Italian</span>
              <span>Malpensabaan 3</span>
              <span>3045 AL</span>
              <span>Rotterdam</span>
            </address>

      

          </div><!-- col -->
        </div><!-- grid -->
      </div><!-- container-->
    </section>

   

   

  </div><!-- site-wrap -->

  <script src="js/index.js"></script>
</body>

</html>