
$aspect-ratios: (
  16x9  : (width:16,height:9),
  4x3   : (width:4,height:3),
  3x2   : (width:3,height:2),
  9x16  : (width:9,height:16),
  3x4   : (width:3,height:4),
  2x3   : (width:2,height:3),
  2x2   : (width:2,height:2),
) !default;


$ratio-helpers-prefix: '.ratio-' !default;


@mixin maintain-ratio($ratio: 1 1) {
  $width: 100%;
  $height: percentage( math.div(nth($ratio, 2), nth($ratio, 1)));
  position: relative;
  width: $width;
  height: 0;
  padding-bottom: $height;
  overflow: hidden;

  > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
  }
}

@mixin set-aspect-ratio-helpers($class-prefix:$ratio-helpers-prefix,$aspect-ratios:$aspect-ratios){
  @each $name, $value in $aspect-ratios {

    $ratio  : $value;
    $width  : map-get($ratio, width);
    $height : map-get($ratio, height);

    #{$class-prefix}#{$name}{
      @include maintain-ratio($width $height);
    }

  }
}

@include set-aspect-ratio-helpers($ratio-helpers-prefix,$aspect-ratios);
