*,
::after,
::before {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  min-width: 300px;
  font-size: $base-font-size;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $body-background-color;
  font-family: 'Poppins', sans-serif;
  font-weight: $base-font-weight;
  color: $base-text-color;
}

main {
  z-index: 1;
  position: relative;
}

.section {
  padding: 4vw 0;
}

.container {
  position: relative;
  padding: 0 15px;
  margin: 0 auto;
  width: 90%;
  max-width: 1640px;

  // @include from(l) {
  //   padding: 0 120px;
  // }

  &--fixed {
    max-width: 1640px;
  }
}
