.editor {
  //border: 1px solid red;

  p {
    margin-bottom: 2rem;
  }

  address {
    font-style: normal;
  }

  h4 {
    margin-bottom: 1rem;
  }

  a {
    text-decoration: none;
    color: $base-text-color;
  }
}
