@mixin grid($breakpoints: null, $cols: 12, $gutter: 32px) {
  @if ($breakpoints==null) {
    @warn "No breakpoints are passed as parameter";
  } @else {
    // basis grid wrapper
    .grid {
      display: flex;
      flex-flow: row wrap;
      margin-left: -$gutter * 0.5;
      margin-right: -$gutter * 0.5;

      &.collapse {
        margin-left: 0;
        margin-right: 0;

        .col,
        [class^='col-'] {
          padding: 0;
        }
      }

      &.uncollapse {
        margin-left: -$gutter * 0.5;
        margin-right: -$gutter * 0.5;

        .col,
        [class^='col-'] {
          padding: 0 $gutter * 0.5;
        }
      }
    }

    // helper classes for aligning and distributing flexbox childs
    @each $name, $value in $breakpoints {
      @include from(#{$name}) {
        .align-#{$name}-start {
          justify-content: flex-start;
          text-align: left;
        }

        .align-#{$name}-center {
          justify-content: center;
          text-align: center;
        }

        .align-#{$name}-end {
          justify-content: flex-end;
          text-align: right;
        }

        .align-#{$name}-top {
          align-items: flex-start;
        }

        .align-#{$name}-middle {
          align-items: center;
        }

        .align-#{$name}-bottom {
          align-items: flex-end;
        }

        .around-#{$name} {
          justify-content: space-around;
        }

        .between-#{$name} {
          justify-content: space-between;
        }

        .reverse-#{$name} {
          flex-direction: row-reverse;
        }
      }
    }

    // base col

    .col,
    [class^='col-'] {
      display: block;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      padding: 0 $gutter * 0.5;
    }

    .grid-col {
      display: flex;
      flex-direction: column;
    }

    // set up cols, offset and order helpers for different helper media breakpoints

    @each $name, $value in $breakpoints {
      @include from(#{$name}) {
        @for $i from 1 through $cols {
          .col-#{$name}-#{$i} {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: calc((100% / #{$grid-columns} * #{$i}) - 0.1px);
            max-width: calc((100% / #{$grid-columns} * #{$i}) - 0.1px);
          }

          .offset-#{$name}-#{$i} {
            margin-left: calc((100% / #{$grid-columns} * #{$i} - 0.1px));
          }

          .order-#{$name}-#{$i} {
            order: #{$i};
          }

          .gap-#{$name}-#{$i} {
            @if($i >= 1) {
              margin-bottom: calc(
                (100% / #{$grid-columns} * #{$i * 0.5} - 0.1px) / -2
              );
  
              > * {
                margin-bottom: calc(
                  (100% / #{$grid-columns} * #{$i * 0.5} - 0.1px)
                );
              }
            } @else {
              margin-bottom: 0;

              [class^='col-'] {
                padding-bottom: 0 !important;
                padding-top: 0 !important;
              }

            }
          }
        }
      }
    }
  }
}

@include grid($breakpoints, $grid-columns, $grid-gutter);
