.hero-meta {
  text-transform: uppercase;
  color: $heading-text-color;
  font-family: $heading-font;
  font-size: 1.75rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;

  font-size: 1.75vw;
  @include from(xxl) {
    font-size: 1.75rem;
  }
}

.hero-heading-1 {
  text-transform: uppercase;
  color: $heading-text-color;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.2rem;

  span {
    color: #84c641;
  }

  font-size: 4.5vw;
  @include from(xxl) {
    font-size: 4.5rem;
  }
}

.hero-heading-2 {
  text-transform: uppercase;
  color: $heading-text-color;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.2rem;

  span {
    color: #84c641;
  }

  font-size: 5vw;
  margin-bottom: 2vw;
  @include from(xxl) {
    font-size: 5rem;
    margin-bottom: 2rem;
  }
}

.meta {
  text-transform: uppercase;
  color: #84c641;
  font-family: $heading-font;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  display: block;
}

.card-heading-1 {
  text-transform: uppercase;
  color: white;
  font-family: $base-font;
  font-size: 1.3rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.025rem;
}

.card-heading-2 {
  text-transform: uppercase;
  color: #134728;
  font-family: $base-font;
  font-size: 1.15rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.025rem;
}

.section-heading {
  text-transform: uppercase;
  color: #194c2d;
  font-family: $heading-font;
  font-size: 3.2rem;
  margin-bottom: 0.5rem;
  display: block;
}

.section-heading-2 {
  text-transform: uppercase;
  color: #194c2d;
  font-family: $base-font;
  font-size: 3.2rem;
  margin-bottom: 0.5rem;
  display: block;
  font-weight: 700;
  letter-spacing: -0.025rem;
  line-height: 1.1;
}

.customer-story__quote {
  color: white;
  font-family: $heading-font;
  font-size: 1.7rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.c2a-section__heading {
  color: white;
  font-family: $heading-font;
  font-size: 1.95rem;
  line-height: 1.6;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.footer__heading {
  text-transform: uppercase;
  color: #194c2d;
  font-family: $heading-font;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  display: block;
}

.c2a-section__heading {
  color: white;
  font-family: $heading-font;
  font-size: 1.95rem;
  line-height: 1.6;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.popup-c2a__heading {
  color: #194c2d;
  font-family: $heading-font;
  font-size: 1.95rem;
  line-height: 1.6;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.h-highlights__heading {
  text-transform: uppercase;
  color: white;
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: -0.025rem;
  line-height: 1.1;
  display: block;

  font-size: 1.7vw;
  @include from(xxl) {
    font-size: 1.7rem;
  }
}
