/**
  Breakpoints

*/

$breakpoints: (
  'xs': 320px,
  // mobile
  's': 480px,
  // phablet
  'm': 768px,
  // tablet
  'l': 977px,
  // desktop
  'xl': 1200px,
  // widescreen
  'xxl': 1680px,
  // fullhd
  'xxxl': 1780px,
  // fullhd
);

/**
  Grid

*/

$grid-columns: 12;
$grid-gutter: 24px;
$container-max-width: 1440px;

/**
  Typo

*/

$heading-font: 'Knockout', sans-serif;
$heading-text-color: #1A1919;
$heading-font-weight: 900;
$heading-text-transform: normal;

$base-font: 'poppins', serif;
$base-text-color: #1A1919;
$base-font-weight: 300;
$base-font-size: 20px;

$body-background-color: #F0F1EE;
