@font-face {
	font-family: "Knockout";
	src: url("../fonts/Knockout/Knockout-HTF49-Liteweight.woff2") format("woff2"),
		url("../fonts/Knockout/Knockout-HTF49-Liteweight.woff") format("woff"),
		url("../fonts/Knockout/Knockout-HTF49-Liteweight.otf") format("opentype"),
		url("../fonts/Knockout/Knockout-HTF49-Liteweight.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Addictive";
	src: url("../fonts/addictive-regular.otf") format("truetype");
}

@font-face {
	font-family: "Rough Marker";
	src: url("../fonts/WRKSTT Graphicstudio - Rough Marker Regular.ttf")
		format("truetype");
}

@import "header";
@import "footer";
@import "legal-bar";
@import "site-wrap";

/* logo */

/* hero */

.hero {
	background-image: url("../img/hero_bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;

	&__top {
		display: flex;
		min-height: 100vh;
		//min-height: 800px;
		align-items: center;
		padding: 4vw 0;
		flex-grow: 1;
		flex-shrink: 1;
	}

	.logo {
		display: inline-block;
		margin-bottom: 2rem;
		width: 160px;

		@include from(m) {
			width: 30vw;
		}

		@include from(xxl) {
			width: 30vw;
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	&__down {
		position: absolute;
		bottom: 5%;
		left: 50%;
		transform: translateX(-50%);

		@include until(l) {
			width: 32px;
			height: auto;
		}

		@include from(l) {
			width: 40px;
			height: auto;
		}

		&:hover {
			cursor: pointer;
		}
	}

	h1 {
		font-family: "Knockout";
		color: white;
		text-align: center;
		font-size: 3rem;
		margin-bottom: 0.5rem;

		@include from(m) {
			font-size: 12vw;
			margin-bottom: 0.5vw;
		}

		@include from(xxl) {
			font-size: 10rem;
			margin-bottom: 0.5rem;
		}
	}

	.hero__subline {
		font-family: "Knockout", sans-serif;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		font-weight: 500;
		// -webkit-text-stroke-width: 1px;
		// -webkit-text-stroke-color: white;

		font-size: 2.2rem;
		margin-bottom: 1rem;

		@include from(m) {
			font-size: 6vw;
			margin-bottom: 1vw;
		}

		@include from(xxl) {
			font-size: 4rem;
			margin-bottom: 1rem;
		}
	}

	&__opening {
		font-family: "Addictive";
		color: white;

		font-size: 3rem;
		margin-bottom: 0.5rem;

		@include from(m) {
			font-size: 3rem;
			margin-bottom: 1vw;
		}

		@include from(xxl) {
			font-size: 3rem;
			margin-bottom: 1rem;
		}
	}
}

/* sections */

.section {
	padding: 4rem 0;
	@include from(l) {
		padding: 6rem 0;
	}

	&--nospacing {
		margin-bottom: 0 !important;
		padding-bottom: 0 !important;
	}
}

h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

ul {
	display: block;
	list-style: disc;
	margin-left: 1rem;
	padding-left: 1rem;
	vertical-align: baseline;
	margin-bottom: 1.5rem;
	line-height: 1.5;
}

.section__content {
	.section__meta {
		font-family: "Addictive";
		font-size: 1.5rem;
		margin-bottom: 0.5rem;

		@include from(m) {
			font-size: 2.4rem;
			margin-bottom: 1vw;
		}

		@include from(xxl) {
			font-size: 2rem;
			margin-bottom: 1rem;
		}
	}

	.section__heading {
		font-family: "Knockout", sans-serif;
		text-transform: uppercase;
		line-height: 1;
		font-size: 2.5rem;
		margin-bottom: 0.5rem;

		@include from(m) {
			font-size: 4rem;
			margin-bottom: 1vw;
		}

		@include from(xxl) {
			font-size: 4rem;
			margin-bottom: 1rem;
		}

		span {
			color: transparent;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: $heading-text-color;
		}
	}

	.section__text {
		margin-bottom: 2rem;

		p {
			margin-bottom: 1.5rem;
		}
	}

	.a-visual-1 {
		transform: rotate(-24deg);
	}

	.a-visual-2 {
		transform: rotate(24deg);
	}
}

.jobs__section {
		background-color: #201f4b;
		color: #fff;
		text-align: left;
		.section__heading span {
			-webkit-text-stroke-color: #fff;
		}

		.job-list {
			margin-top: 2rem;

			.job-item {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				padding: 1rem 0;
				color: #fff;
				border-bottom: 1px solid #fff;
				// &:last-child {
				// 	border-bottom: 0;
				// }

				a {
					color: #fff;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}

				&:first-child {
					border-top: 1px solid #fff;
				}
			}
		}
	}
// VISUALS SECTION
.btm-visuals {
	display: flex;
	flex-direction: row;

	width: 100%;
	line-height: 0;

	@include until(m) {
		flex-wrap: wrap;
	}

	div {
		flex-grow: 1;
		flex-shrink: 1;

		@include until(m) {
			width: 33%;
		}

		img {
			width: 100%;
			height: auto;
		}
	}
}

//  STAMP not used yet
.stamp {
	display: none;

	@include from(m) {
		width: 20vw;
		z-index: -1;
		margin-bottom: -220px;
		display: flex;
		margin-left: auto;
	}

	@include from(xxl) {
		width: 400px;
	}

	img {
		margin-left: auto;
		width: 100%;
		height: auto;
		flex-grow: 1;
		flex-shrink: 1;
	}
}
//  STAMP not used yet

.big-visual {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

// FOOTER
.address {
	font-style: normal;
	margin-top: 4rem;
	//line-height: 0;

	span {
		font-family: casablanca-urw, sans-serif;
		text-transform: uppercase;
		font-size: 0.8rem;
		padding: 0 0.33rem 0 0;
		//margin: 0 0.33rem 0 0;
		letter-spacing: 0.03rem;
		display: block;
		line-height: 1.618;


		@include from(m) {
		display: inline-flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		line-height: 0;
		}

		&:last-child {
			&:after {
				display: none;
			}
		}

		@include from(m) {
		&:after {
			content: "";
			display: inline-block;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: $base-text-color;
			margin-left: 0.33rem;
			margin-top: -2px;
		}
		}

		a {
			color: $base-text-color;
			text-decoration: none;
			line-height: 0;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
