.button {
	display: inline-block;

	font-family: $heading-font;
	font-size: 1.5rem;
	line-height: 1.2;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
  background-color: #201F4B;
	padding: 8px 20px;
	border-radius: 2px;
	border: none;
	border-radius: 2px;
	margin-bottom: 0;

	user-select: none;
	touch-action: manipulation;
	cursor: pointer;

	transition: all 150ms ease-in;

	&:hover {
		cursor: pointer;
		background: darken(#201f4b, 10%);
	}

	&:focus {
		outline: none;
	}
}

.contact__buttons {
	.button {
		margin-bottom: 1rem;
	}
}